// Файл обнуляющих стилей
@import "nullstyle.scss";

* {
  font-family: Proxima Nova, Roboto, sans-serif;
  max-width: 1392px;
  margin: 0 auto;
}

.container {
  max-width: 996px;
  padding: 0px 10px;  
    }