.header__top {
    background-color: #323941;
}

.header__menu {
    min-height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    .header__menu-left {
        padding-right: 81px;
    }
    .menu__list {
            text-align: center;
            display: flex;
            flex-wrap: wrap;

    }
    .menu__item {
        padding-right: 24px;
        &:last-child {
            padding-right: 0px;
        }
    }
    .menu__link {
            color: #FFFFFF;
    }
}

.header__bottom {
    height: 101px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header__bottom-logo {
        width: 216px;
        margin: 0px;
    }
    .header__bottom-director {
        width: 290px;
        display: flex;
        align-items: center;
        justify-content: start;
        margin: 0%;
        .bottom__director-photo {
            margin: 0px;
        }
        .bottom__director-text {
            margin: 0px 13px;
            & > p {
                font-family: 'Proxima Nova';
                font-style: normal;
                font-weight: 600;
                font-size: 13px;
                color: #323941;
                margin-bottom: 8px;
            }
            & > a {
                text-decoration-line: underline;
                font-family: 'Proxima Nova';
                font-style: normal;
                font-weight: 400;
                font-size: 13px;
                color: #009EFF;
            }
        }
    }
}

